@import '~@blueprintjs/core/lib/scss/variables.scss';

body {
  background-color: $pt-dark-app-background-color;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

#root > .container {
  padding: 0 15px;
  max-width: 990px;
}

.section {
  margin: 1rem 0;
}
