@charset "utf-8";
@import url('https://use.typekit.net/rmp3tzf.css');
@import './colors';

$family-sans-serif: 'source-sans-pro', sans-serif;
$family-serif: 'source-serif-pro', serif;

$family-secondary: $family-serif;

$primary: $night-sky;
$info: $bright-sky;
$link: $sea;
$text: $asphalt;

@import '~bulma';

@import './home_page';
@import './embed_responsive';
