.contact-information {
  .panel-block {
    display: block;
  }
}

.sign-offs {
  .card + .card {
    margin-top: 1.5em;
  }
}

.program-applications {
  th {
    white-space: no-wrap;

    form {
      margin-left: 1rem;
      display: inline;
    }
  }
}
