<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gateway</title>
  <%= javascript_pack_tag "application", defer: true %>
</head>

<%= content_tag(:body, data: {"signed-in": signed_in? }, class: 'bp3-dark') { yield } %>
